html{
  background-color: black;
}

.heading {
  font-family: "Boska", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 2em;
  text-align: center;
}

.box1 {
  background-color: #e63946;
  grid-area: span 4 / 1;
}
.box2 {
  background-color: #f1faee;
}

.box3 {
  background-color: #a8dadc;
  grid-area: 2 / 2 / 5 / 2
}

.box4{
  background-color: #457b9d;
  grid-area: 1 / 3 / span 2 / 4;
}

.box5{
  background-color: #1d3557;
  grid-area: 3 / 3 / span 2
}

.container {
  height: 50vh;
  width: 80vh;
  margin: auto;
  padding: 0 30px;
  display: grid;
  grid-template: 25% 25% 25%/ 50% 1fr 1fr;
  gap: 12px;
}

.container > *{
  border-radius: 12px;
}